
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="HTML-CSS-JavaScript examples">
        <meta name="keywords" content="HTML,CSS,JavaScript">
        <meta name="author" content="Shrek">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ajax-HTML-examples</title>
        <!--jQuery library-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="js/jquery-example.js"></script>
    </head>
    <body>
        <main class="container">
            <button id="ajaxJs" class="btn btn-default" onclick="getData()">AJAX with Javascript</button>
            <button id="ajaxjQuery" class="btn btn-default">AJAX with jQuery</button>
        </main>
    </body>
</html>
